<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
          <title>{{ title }} — Harriet {{edition}}</title>
          <meta property="og:title" content="{{ title }} — Harriet {{edition}}">
        {% else %}
       	  <title>Harriet — Frauen bei DEMOKRATIE IN BEWEGUNG</title>
          <meta property="og:title" content="Harriet — Frauen bei DEMOKRATIE IN BEWEGUNG">
        {% endif %}

        {% comment %}<meta property="og:description" content="Der Wochenrück und Ausblick von DEMORAKTIE IN BEWEGUNG{% if edition %} — Ausgabe {{edition}}{% endif %}.">{% endcomment %}
        {% if image_path %}
          <meta property="og:image" content="https://harriet.bewegung.jetzt/{{image_path}}">
          <meta name="twitter:image" content="https://harriet.bewegung.jetzt/{{image_path}}">
          <meta name="twitter:image:alt" content="{{image_alt}}">
        {% else %}
          <meta property="og:image" content="https://harriet.bewegung.jetzt/static/logo.png">
          <meta name="twitter:image" content="https://harriet.bewegung.jetzt/static/logo.png">
          <meta name="twitter:image:alt" content="Harriet Logo: der Umriss eines Megaphone.">
        {% endif %}


        <meta property="og:url" content="https://harriet.bewegung.jetzt/{{path|replace:'index.html',''}}">
        <meta name="twitter:card" content="summary">

        <meta property="og:site_name" content="Harriet, Frauen bei DiB">

        <meta name="twitter:site" content="@bauchtbewegung">

        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <link rel="alternate" type="application/rss+xml" title="RSS Feed Harriet" href="/rss.xml" />
    </head>
    <body>
      <div class="wrap">
        <nav>
          <a href="/" class="brand">
            <img
              class="logo"
              alt="Harriet Logo: der Umriss eines Megaphone."
              src="/static/logo.png" />
          </a>
          <h1>Harriet{% if edition %} <a href="/{{edition}}/">{{edition}}</a> {% endif %} </h1>
          </a>

        </nav>
